<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>FoodieExpress</h2>
    <div>
        <a href="/">Home</a>
        <a href="/orders">Orders</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

<h1>Your Cart</h1>

<div class="cart-container">
    {% for item in cart_items %}
    <div class="cart-card">
        <img src="/static/uploads/{{ item.image }}">
        <h3>{{ item.name }}</h3>
        <p>₹{{ item.price }}</p>
        <a href="/remove_cart/{{ loop.index0 }}" class="remove-btn">Remove</a>
    </div>
    {% endfor %}
</div>

<div class="cart-total-box">
    <h2>Total: ₹{{ total }}</h2>

    {% if cart_items %}
    <a href="/payment" class="pay-btn">Proceed To Payment</a>
    {% else %}
    <p>Your cart is empty.</p>
    <a href="/" class="pay-btn">Continue Shopping</a>
    {% endif %}
</div>

</body>
</html>