<!DOCTYPE html>
<html>
<head>
    <title>Food Ordering System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>FoodieExpress</h2>
    <div>
        <a href="/">Home</a>
        <a href="#food">Food</a>
        <a href="#drinks">Drinks</a>
        <a href="/cart">Cart</a>
<a href="/orders">Orders</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>

<section class="hero">
    <div>
        <h1>Delicious food delivered fast</h1>
        <p>Order your favourite meals and drinks anytime.</p>
        <a href="#food" class="hero-btn">Order Now</a>
    </div>
</section>

<section id="food">
    <h1>Popular Food</h1>
    <div class="food-container">
        {% for food in foods %}

<div class="restaurant-card">

    <div class="image-box">
        <img src="/static/uploads/{{ food.image }}">

        <div class="offer">
            ITEMS AT ₹{{ food.price }}
        </div>
    </div>

    <h3>{{ food.name }}</h3>

    <p class="rating">
        ★ 4.5 • 25-30 mins
    </p>

    <p class="category-text">
        {{ food.description }}
    </p>

    <p class="location">
        {{ food.category }}
    </p>

    <a class="order-btn" href="/add_to_cart/{{ food.id }}">
        Add to Cart
    </a>

</div>

{% endfor %}
    </div>
</section>

<section id="drinks">
    <h1>Refreshing Drinks</h1>
    <div class="food-container">
        {% for drink in drinks %}

<div class="restaurant-card">

    <div class="image-box">
        <img src="/static/uploads/{{ drink.image }}">

        <div class="offer">
            ITEMS AT ₹{{ drink.price }}
        </div>
    </div>

    <h3>{{ drink.name }}</h3>

    <p class="rating">
        ★ 4.6 • 20-25 mins
    </p>

    <p class="category-text">
        {{ drink.description }}
    </p>

    <p class="location">
        {{ drink.category }}
    </p>

    <a class="order-btn" href="/add_to_cart/{{ drink.id }}">
        Add to Cart
    </a>

</div>

{% endfor %}
    </div>
</section>

</body>
</html>