<!DOCTYPE html>
<html>
<head>
    <title>Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <h2>My Orders</h2>
        <div>
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>

    <table>
        <tr>
            <th>ID</th>
            <th>Food Name</th>
            <th>Price</th>
            <th>User</th>
        </tr>

        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.food_name }}</td>
            <td>₹{{ order.price }}</td>
            <td>{{ order.username }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>